body{
  background-color: azure;
  text-align: center;
}
img{
  height: 300px;
  width: 280px;
  border-radius: 25px;
}
h1{
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
  font-size: 25px;
  color: blue;

}
p{
  color: blue;
  font-size: 25px;
}